@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: Aleo;
 font-weight: 200;
 font-size: 30px;
}

.intro-project h3, .intro-skills h3 {
    margin-top: 45px;
    text-align: center;
    
}

.intro-project h3 span, .intro-skills h3 span {
    border-bottom: 2px solid;
    line-height: 30px;
    padding-bottom: 5px;
}

.proj {
    margin: 1rem;
  position: relative;
  width: 34rem;
  height: 50rem;
  overflow: hidden;
}

.project1, .project2, .project3{
    margin: auto;
    margin-top: 30px;
    width: 70%;
    height: 50vh;
    text-align: center;
}

.p1-img {
    background-image: url("VirusTracker.png");
    opacity: .8;
}

.p2-img {
    background-image:  url("sudoku.png");
    opacity: .5;
}

.p3-img {
    background-image: url("cash.png");
    opacity: .3;
}

.p1-img, .p2-img, .p3-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
}

.p1-info, .p2-info, .p3-info {
    position: relative;
    top: 20px;
    bottom: 40px;
    
}
.p1-heading, .p2-heading , .p3-heading  {
    font-family: 'Open Sans';
    color: #373737;
    font-size: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.p1-text, .p2-text, .p3-text {
    font-family: 'Open Sans';
    color: #373737;
    font-size: 21px;
    opacity: .9 ;
    padding-left: .5rem;
   
}

.project1, .project2, .project3{
    transform: scale(1);
    transition: .4s;
}

.project1:hover, .project2:hover, .project3:hover  {
    transform: scale(1.1);
}

.p1-skill, .p2-skill, .p3-skill {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px #373737 solid;
    border-radius: 20px;
    background-color: transparent;
}

.intro-skills {
    border: #373737 transparent;
    width: 90%;
    height: 20vh;
    margin-left: 50px;
    position: relative;
    text-align: center;
    margin-top: 50px;
    background-color: #FEFEFA;
    border-radius: 20px;
}

.hnin-skill {
    border: 2px #373737 transparent;
    display: inline-block;
    margin: 10px 30px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #F0F8FF;
}
